{% extends "base.html" %}
{% block content %}
<h2>About</h2>
<div class="tidbit">
<span>My name is Taimoor Chatha. </span>
<span>I am a software developer at Altamira Corporation.</span>
</div>
<h2>Projects</h2>
<ul class="project-list">
{% if projects %}
    {% for project in projects %}
        {{project.title}}
    {% endfor %}
{% else %}
<span>No Projects to show</span>
{% endif %}
</ul>

<h2>Posts</h2>
<ul class="page-list">
  {% for page in pages %}
      <li><a href="{{ url_for('page', path=page.path) }}">
          {{ page.meta.title }}
      </a>- {{ page.meta.date }}</li>
  {% endfor %}
</ul>
{% endblock %}

