.links {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.link {
  color: rgb(0, 0, 0);
  width: 100px;
  padding: 10px;
  transition: background-color 500ms linear;
}

.link:hover {
  background-color: rgba(0,0,0, 0.3);
  transition: color 200ms linear;
}

.right {
  border-top-right-radius: 10px;
}

.left {
  border-top-left-radius: 10px;
}

.active {color: rgba(0,0,0, 0.3)}