.post {
  margin: 10px;
  width: 380px;
  height: 140px;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 30px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.4);
  /* box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.9);*/
  /* box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.post_title {
  text-align: left; 
  font-size: 23px;
}

.post_date {
  text-align: left; 
  font-size:11px;
  opacity: 0.2;
}

.post_body {
  padding-bottom: 10px;
}
